<div id="page-wrapper">
    <div id="page-inner">
      <div class="row">
      
        <div class="col-md-12">
        <h1 class="page-head-line">View All Users</h1>
        <h1 class="page-subhead-line">View all Users!  </h1>
  
        </div>
    </div>
      <div class="row">
          <div class="container">
              <p *ngIf="users.length <= 0" class="no-data text-center">There is no Users!</p>
              <table class="table table-bordered"  *ngIf="users.length > 0">
                  <thead class="table-success">
                    <tr >
                      <th bgcolor="navy" style="color:white" scope="col">S. No</th>
                      <th bgcolor="navy" style="color:white" scope="col">FirstName</th>
                      <th bgcolor="navy" style="color:white" scope="col">LastName</th>
                      <th bgcolor="navy" style="color:white" scope="col">EmailId</th>
                      <th bgcolor="navy" style="color:white" scope="col">PhoneNo</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of users; let i = index" >
                          <th scope="row">{{i+1}}</th>
                          <td>{{user.firstname}}</td>
                          <td>{{user.lastname}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.mobileno}}</td>
                        
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>