

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control form-control-user" placeholder="Enter Email Address..." required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control" placeholder="Enter Password..">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block" ><i class="fa fa-key"></i> Login</button>
                    <hr class="my-4">
                    <button class="btn btn-google btn-user btn-block" type="button" (click)="registration()"><i class="fa fa-user"></i> New User Registration!</button>

                </form>
            </div>
        </div>
    </div>
</div>




